#---------------------------------------------------------------------
# /etc/haproxy/conf.d/01-defaults.cfg
#---------------------------------------------------------------------
defaults
  log     global
  mode    tcp
  option  tcplog
  option  dontlognull
  retries 3
  timeout connect 5s
  timeout client  30m
  timeout server  30m
