#---------------------------------------------------------------------
# /etc/haproxy/conf.d/10-stats.cfg
#---------------------------------------------------------------------
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
    # Lock this down before exposing in prod:
    # stats auth admin:ChangeMe
