# ============================================================
# ACME HTTP-01 challenge handling via local nginx server
# ============================================================
frontend ft_http_acme
	bind *:80
	mode http
	option httplog

	acl is_acme_challenge path_beg /.well-known/acme-challenge/
  use_backend bk_acme_local if is_acme_challenge
  http-request redirect scheme https code 301 unless is_acme_challenge
  default_backend bk_deny_http

backend bk_acme_local
  mode http
  server local_acme 127.0.0.1:8080

backend bk_deny_http
	mode http
	http-request deny
